@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  display: flex;
  flex-direction: column;
  font: normal 1.4rem Roboto, sans-serif;
  line-height: 1.6rem;
  min-height: 100vh;
}

a {
  color: white;
}

a:hover {
  filter: brightness(0.8);
}

a:active {
  opacity: 0.8;
}

/* don't use the original font from video for personal reasons */
h1 {
  font: bold 7.6rem "PT Sans Caption", sans-serif;
  line-height: 9.1rem;
  margin: 0;
  margin-bottom: 0.8rem;
}

.container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 113.5rem;
  padding: 0 3rem;
}

header {
  flex: none;
  position: absolute;
  top: 6.4rem;
  width: 100%;
}

.menu-icon {
  align-self: flex-end;
  cursor: pointer;
  display: none;
  height: 2.3rem;
  overflow: hidden;
  position: absolute;
  right: 3.8rem;
  top: 3.9rem;
  width: 2.3rem;
}

.menu-icon:focus {
  outline: none;
}

.menu-icon span {
  background-color: white;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  top: 1.1rem;
  transition: background-color ease-in-out 0.1s;
  width: 100%;
  z-index: 1000;
}

.menu-icon span::before,
.menu-icon span::after {
  background-color: white;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transition: transform ease-in 0.1s;
  width: 100%;
}

.menu-icon span::before {
  top: -1rem;
}

.menu-icon span::after {
  bottom: -1rem;
}

.menu-icon._open span {
  background-color: transparent;
}

.menu-icon._open span::before,
.menu-icon._open span::after {
  transform-origin: center center;
}

.menu-icon._open span::before {
  transform: scale(1.3) translateY(0.7rem) rotate(45deg);
}

.menu-icon._open span::after {
  transform: scale(1.3) translateY(-0.8rem) rotate(-45deg);
}

header .container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 4rem 0;
}

.header-logo {
  margin-right: 3.9rem;
}

.header-logo img {
  display: block;
  height: 2.8rem;
  width: 7.9rem;
}

.header-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.header-nav a {
  display: block;
  text-decoration: none;
}

.header-nav a:not(:last-child) {
  margin-right: 2.4rem;
}

.header-social {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.social {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  display: block;
  height: 1.7rem;
  text-indent: -9999px;
  width: 1.8rem;
}

.social:not(:last-child) {
  margin-right: 2.1rem;
}

.social-twitter {
  background-image: url("../img/social/twitter.svg");
}

.social-instagram {
  background-image: url("../img/social/instagram.svg");
}

.social-facebook {
  background-image: url("../img/social/facebook.svg");
}

main {
  background: #831618 url(../img/background.jpg) no-repeat top center / cover;
  flex: auto;
  padding: 18.7rem 0 10.4rem;
}

.main-content__container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8.8rem;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-rating {
  margin-bottom: 1rem;
  order: -1;
}

.main-rating__title {
  margin-bottom: 1.6rem;
}

.main-rating__wrapper {
  align-items: center;
  display: flex;
}

.main-rating__stars {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 0.9rem;
  padding: 0;
}

.main-rating__stars li {
  background: url("../img/elements/star-empty.svg") no-repeat center center /
    1.2rem 1.2rem;
  cursor: pointer;
  flex-shrink: 0;
  height: 1.2rem;
  width: 1.2rem;
}

.main-rating__stars li.star-active {
  background-image: url("../img/elements/star.svg");
}

.main-rating__stars li:not(:last-child) {
  margin-right: 0.4rem;
}

.main-rating__number {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.main-description {
  line-height: 2.1rem;
  margin-bottom: 4.1rem;
  max-width: 52.8rem;
}

.main-play {
  flex: auto;
  padding: 0 1.6rem;
  text-align: center;
}

.main-button__play {
  background: #151515 url("../img/elements/play.svg") no-repeat 3.54rem center /
    3.54rem 4rem;
  /* background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  /* -webkit-background-clip: padding-box; for Safari */
  border: none;
  /* border: 1.6rem solid rgba(21, 21, 21, 0.5);; */
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
  height: 10rem;
  left: 1.6rem;
  outline: rgba(21, 21, 21, 0.5) solid 1.6rem;
  margin: 0 auto;
  position: relative;
  text-indent: -9999px;
  width: 10rem;
}

.main-button__buy-tickets {
  background-color: #151515;
  border-radius: 0.8rem;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.6rem;
  padding: 2.2rem 7.2rem;
  text-decoration: none;
  width: fit-content;
}

.main-slider__container {
  align-items: center;
  display: flex;
  max-width: 41.5rem;
}

.main-slider__slide {
  border-radius: 0.8rem;
  height: 10.5rem;
  overflow: hidden;
  width: 16.4rem;
}

.main-slider__slide img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.main-slider__slide span {
  bottom: 0.6rem;
  color: white;
  font-size: 1rem;
  left: 1.2rem;
  line-height: 1.2rem;
  position: absolute;
  transform: translate(0, 0);
  z-index: 10;
}

.main-slider__arrow {
  background: transparent url("../img/elements/slider-arrow.svg") no-repeat
    center center / 3.2rem 2.2rem;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 2.2rem;
  margin-left: 2.8rem;
  outline: none;
  text-indent: -9999px;
  width: 3.2rem;
}

.main-slider__arrow:hover {
  filter: brightness(1.7);
}

.main-slider__arrow:active {
  filter: opacity(0.7);
}

footer {
  background-color: #030102;
  flex: none;
}

footer .container {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
  opacity: 0.4;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu a {
  text-decoration: none;
}

.footer-menu li:not(:last-child) a {
  margin-right: 2.5rem;
}
